* {
    margin: 0;
    padding: 0;
}


.content {
    display: block;
}

.card {
    width: 750px;
    box-shadow: 10px 5px 5px rgb(218, 221, 221);
    margin: auto;
    margin-bottom: 50px;
    padding: 15px;
}

.title {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
    color: darkgrey
}

.paragraph {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    padding: 3px;
    display: block;
    font-style: normal;
    color: grey;
}